$heigh-section : 700px;
$background-section: #ECF4FF;
$btn-color: #344b7e;
$title-color:#192843;
$title-font-size:52px;
$menu-color:#192843;
$menu-hover-color: #98b6ee;
$text-color: #8c8c8c;
$button-height: 48px;
$button-width: 200px;
$background-img-not-found: #768199;
$content-3-color:#BEC6D2;
$footer-background: #344b7e;

