body{
	font-family: 'Open Sans', sans-serif;
}
#land-home{
	padding: 0;
	.home{
		.menu{
			text-align: center;
			margin-top: 4%;
			position: absolute;
			width: 98%;
			z-index: 1;
			ul{
				padding: 0;
				margin: 0;
			}
			li{
				display: inline;
			}
			li a {
				font-size: 23px;
				text-decoration: none;
				padding: 0px 24px;
				color: $menu-color;
				&:hover{
					color: $menu-hover-color;
				}
			}
		}
		.title{
			font-size: $title-font-size;
			font-weight: 800;
			color: $title-color;
			line-height: 52px;
		}
		.title-text{
			color:$text-color;
			margin-top: 5%;
			text-align: justify;
		}
		.home-block{
			margin: 0 auto;
			width: 90%;
			padding: 30px;
			margin-top: 200px;
			.btn-home{
				margin-top: 20%;
				text-align: left;
				button{
					width: $button-width;
					height: $button-height;
					font-weight: 600;
					background:$btn-color;
					border-color:$btn-color;
					a{
						color: white;
					}
				}
			}

		}
		.col{
			.home-img-background{
				margin-left: 4%;
				.background {
					z-index: -1;
					margin: 0;
					width: 120%;
					height: 850px;
					padding: 0;
					position: absolute;
					top: -4%;
					right: 0%;
				}
				.home-img{
					z-index: 1;
					margin-top: 133px;
					margin-left: -5%;
				}
			}
		}
		width: 100%;
		height: 820px;
		display: flex;
	}
	#content-1{
		width: 100%;
		height: $heigh-section;
		text-align: center;
		.align{
			padding-left: 4%;
		}
		.col{
			margin-top: 2%;
			height: 280px;
			display: inline-block;
			width: 24%;
			.img {
				width: 95%;
				height: 100%;
				background: $background-img-not-found;
				margin: 0 auto;
			}
			.img-text{
				margin-top: 6%;
				text-align: justify;
				color:$text-color;
			}
		}
		.title{
			margin-top:100px;
			font-size: $title-font-size;
			font-weight: 800;
			color: $title-color;
			line-height: 52px;
			width: 33%;
			text-align: left;
		}
		.title-text{
			width: 33%;
			color:$text-color;
			margin-top: 2%;
			text-align: justify;
		}
		.img-not-found{
			img{
				margin-top: 92px;
				height: 65px;
			}
		}
	}
	#content-2{
		width: 100%;
		height: 780px;
		background: $background-section;
		display: flex;
		.img-package {
			margin-top: 8%;
			margin-left: 30%;
		}
		.title{
			margin-top:50px;
			font-size: $title-font-size;
			font-weight: 800;
			color: $title-color;
			line-height: 52px;
			text-align: right;
			padding-right: 5%;
		}
		.title-text{
			color:$text-color;
			margin-top: 2%;
			text-align: right;
			padding-right: 5%;
		}
		.btn-content-2{
			margin-top: 6%;
			text-align: right;
			padding-right: 5%;
			button{
				width: $button-width;
				height: $button-height;
				font-weight: 600;
				background:$btn-color;
				border-color:$btn-color;
			}
		}
		.block{
			margin-top: 5%;
			display: inline-block;
			width: 49%;
			height: 280px;
			text-align: center;
			.img {
				width: 95%;
				height: 100%;
				background: $background-img-not-found;
				margin: 0 auto;
			}
			.img-text{
				margin-top: 6%;
				text-align: justify;
				color:$text-color;
			}
			.img-not-found{
				img{
					margin-top: 92px;
					height: 65px;
				}
			}
		}
	}
	#content-3{
		width: 100%;
		height: 820px;
		.title{
			margin-top:40px;
			font-size: $title-font-size;
			font-weight: 800;
			color: $title-color;
			line-height: 52px;
			width: 33%;
			text-align: left;
		}
		.title-text{
			width: 33%;
			color:$text-color;
			margin-top: 2%;
			text-align: justify;
		}
		.align{
			padding-left: 4%;
		}
		.main-block{
			display: flex;
			padding: 0;
			.col{
				height: 650px;
			}
			.block{
				margin: 0 auto;
				margin-top: 30px;
				border: 5px solid $content-3-color;
				width: 80%;
				height: 90%;
				.main-line{
					width: 70%;
					margin: 0 auto;
					.line{
						margin: 0 auto;
						margin-top: 25px;
						border: 8px solid $content-3-color;
					}
					.one-line{
						border: 15px solid $content-3-color;
						margin-top: 50px;
					}
					.two-line{
						margin-top: 50px;
						border: 8px solid $content-3-color;
					}
					.last-line{
						margin-top: 40px;
						border: 25px solid $content-3-color;
					}
				}
			}
		}
	}
	#contact{
		width: 100%;
		height: $heigh-section;
		background: $background-section;
		display: flex;
		.title{
			margin-top:100px;
			font-size: $title-font-size;
			font-weight: 800;
			color: $title-color;
			line-height: 52px;
			text-align: left;
		}
		.title-text{
			color:$text-color;
			margin-top: 5%;
			text-align: justify;
		}
		.align{
			padding-left: 4%;
		}
		.input-contact{
			margin-top: 14%;
			input{
				border: none;
				height: 65px;
			}
		}
		.btn-contact{
			margin-top: 10%;
			text-align: left;
			button{
				width: $button-width;
				height: $button-height;
				font-weight: 600;
				background:$btn-color;
				border-color:$btn-color;
			}
		}
		.image{
			margin-top: 6%;
			text-align: center;
			img{
				width: 88%;
				height: 583px;
			}
		}
	}
	#footer{
		width: 100%;
		height: 100px;
		background: $footer-background;
	}
}
#land-info{
	.home{
		width: 100%;
		display: flex;
		.menu{
			text-align: right;
			margin-top: 4%;
			position: absolute;
			width: 98%;
			z-index: 1;
			padding-right: 2%;
			ul{
				padding: 0;
				margin: 0;
			}
			li{
				display: inline;
			}
			li a {
				font-size: 23px;
				text-decoration: none;
				padding: 0px 24px;
				color: $menu-color;
				&:hover{
					color: $menu-hover-color;
				}
			}
		}
	}
	#content-1{
		width: 100%;
		height: $heigh-section;
		text-align: center;
		.align{
			padding-left: 4%;
		}
		.col{
			margin-top: 2%;
			height: 280px;
			display: inline-block;
			width: 24%;
			.img {
				width: 95%;
				height: 100%;
				background: $background-img-not-found;
				margin: 0 auto;
			}
			.img-text{
				margin-top: 6%;
				text-align: justify;
				color:$text-color;
			}
		}
		.title{
			margin-top:100px;
			font-size: $title-font-size;
			font-weight: 800;
			color: $title-color;
			line-height: 52px;
			width: 33%;
			text-align: left;
		}
		.title-text{
			width: 33%;
			color:$text-color;
			margin-top: 2%;
			text-align: justify;
		}
		.img-not-found{
			img{
				height: 65px;
				margin-top: 92px;
			}
		}
	}
	#footer{
		width: 100%;
		height: 100px;
		background: $footer-background;
	}
}
